src/main/mule/demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="dcf97894-251c-4ef0-8fed-4f9ff10870d5" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="12345" database="poc-1" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="170f6e4c-b516-4d40-ae44-374bb1d0bc3f" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="demo1Flow" doc:id="ab5afef5-6575-4f8a-9621-61c5906cfde7" >
		<http:listener doc:name="Listener" doc:id="25f8976c-706e-454e-808c-5bf5b2f67cd8" config-ref="HTTP_Listener_config" path="/get"/>
		<logger level="INFO" doc:name="Logger" doc:id="2620cd79-225f-421f-971c-3830c643ec9c" message='#["Started Flow :: " ++ attributes.headers.correlationid]'/>
		<ee:transform doc:name="Transform Message" doc:id="1c821b4e-0b89-44de-8583-02071be03bdc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="cid" ><![CDATA[attributes.headers.correlationid]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="4248d4b8-c05e-4edc-91d1-d48062c6fc70" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM DOCTOR;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ff232795-8102-40ca-b114-fa047a083eb0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1495aed0-8fa9-4eb2-8fd4-e301271896ec" message='#["End Logger :: " ++ vars.cid]'/>
	</flow>
</mule>
